/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: gray;
}
h1 {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: black;
 font-size: 15px;
}
h3 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: gray;
font-size: 15px;
}
p {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: black;
 font-size: 10px;
}
#content {
 background-color: darkslategray;
 width: 1400px;
 min-height: 300px;
 padding: 10px;
 margin: 10px;
 border: solid 5px black;
 font-size: 20px;
}
#mini {
 width: 700px;
 height: 500px;
}